mixin footer(data)
  .footer
    .footer__wrapper
      .footer__logo
      .footer__copyright © 2013-2017  — интернет-маркетинг, продвижение сайтов. Начните продвигать сайт с нами!
        span SIA OneClick, Reg Nr. 50203093721, Rīga, Antonijas iela 9 - 14, LV-1010