.about {
  padding: 50px 0;
  @media screen and (max-width: 1100px) {
    padding: 20px 0;
  }
  &__wrapper {
    display: flex;

    align-items: center;
    @extend .wrapper;
    justify-content: center;
    @media screen and (max-width: 1100px) {
      display: block;
    }
  }
  &__left {
    width: 48%;
    @media screen and (max-width: 1100px) {
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 30px;

    color: #333;

    font-size: rem-calc(38);
    span {
      display: block;

      font-family: "Lato-Bold";
      line-height: 1;
    }
  }
  &__text {
    font-size: rem-calc(16);
    line-height: rem-calc(22);
  }
}

.about-partners {
  @media screen and (max-width: 1100px) {
    padding-top: 20px;
  }
  &__title {
    margin-bottom: 35px;

    text-transform: uppercase;

    color: #666;

    font-size: rem-calc(24);
    @media screen and (max-width: 1100px) {
      text-align: center;
    }
  }
  &__item {
    @media screen and (max-width: 1100px) {
      text-align: center;
    }
  }
}
