mixin about(data)
  .about#about
    .about__wrapper
      .about__left
        .about__title О компании
          span OneClick
        .about__text Основные принципы деятельности – это профессионализм, ориентированность на интересы клиента, большой опыт сотрудников и компетентность, комплексный подход к решению каждой задачи, применение инновационных технологий, честность, ответственность и открытость. Следование этим принципам делает компанию Oneclick успешной.

      .about__right
        .about-partners
          .about-partners__title Наши партнеры

          .about-partners__item
            img(src="%=static=%images/general/adsense.png" alt="")
            img(src="%=static=%images/general/direct.png" alt="")