.service-type {
  position: relative;
  z-index: 99;
  top: -180px;

  margin-bottom: -80px;
  @media screen and (max-width: 800px) {
    top: -80px;
    margin-bottom: -40px;
  }
  &__wrapper {
    display: flex;

    align-items: flex-start;
    @extend .wrapper;
    justify-content: center;
    @media screen and (max-width: 800px) {
      display: block;
    }
  }
  &__column {
    width: 445px;

    text-align: center;
    @media screen and (max-width: 800px) {
      width: 100%;
      margin-bottom: 20px;
    }
    &:first-child {
      position: relative;

      margin-right: 100px;
      @media screen and (max-width: 800px) {
        margin-right: 0;
      }
      &:after {
        position: absolute;
        top: 150px;
        right: -200px;

        content: "";

        @include bg($curves);
        @media screen and (max-width: 800px) {
          display: none;
        }
      }
    }
    &:last-child {
      margin-left: 100px;
      @media screen and (max-width: 800px) {
        margin-left: 0;
      }
    }
  }
  &__icon {
    position: relative;

    width: 250px;
    height: 250px;
    margin: auto;

    border-radius: 50%;
    background-color: $white;
    &:before {
      display: block;

      content: "";

      @include absolute-center;
    }
    &._left {
      box-shadow: 0 15px 15px rgba($light-green, .1);
      &:before {
        width: 123px;
        height: 123px;

        background: url(%=static=%general/left.png) no-repeat;
      }
    }
    &._right {
      box-shadow: 0 15px 15px rgba(#e44f77, .1);
      &:before {
        width: 126px;
        height: 126px;

        background: url(%=static=%general/right.png) no-repeat;
      }
    }
  }
  &__title {
    margin-top: 25px;

    color: #333;

    font-family: "Lato-Bold";
    font-size: rem-calc(22);
  }
  &__text {
    color: #999;

    font-size: rem-calc(15);
    line-height: 22px;
  }
}
