mixin service-type(data)
  .service-type#service
    .service-type__wrapper
      .service-type__column
        .service-type__icon._left
        .service-type__title Размещение рекламы на наших сайтах
        
        .service-type__text На всех наших проектах мы предлагаем следующие виды рекламного взаимодействия: банерную рекламу любых форматов; размещение текстовых и комбинированных блоков; рекламу в специализированных рассылках; публикацию и рекламу пресс-релизов Вашей компании; 

      .service-type__column
        .service-type__icon._right
        .service-type__title Создание и поддержка сайтов под ключ

        .service-type__text Мы предлагаем быстрые и функциональные решения для бизнеса. Наши сайты работают на модульной платформе, что позволяет расширять и улучшать сайт без ограничений. Сайты созданные нами имеют высокую производительность и способны выдерживать большие нагрузки.