mixin advantages(data)
  .advantages#advantages
    .advantages__wrapper
      .advantages__left
        .advantages__title Наши 
          span преимущества
        .advantages__text У нас есть возможность организовать эффективную рекламу, направленную на женскую аудиторию; на специалистов в области мобильной связи и технически продвинутую молодежь; потребителей информации новостных ресурсов.

      .advantages__right
        .advantages-block
          .advantages-block__icon._site
          .advantages-block__title 1 000 000 000
          .advantages-block__text просмотров объявлений рекламодателей в сутки

        .advantages-block
          .advantages-block__icon._user
          .advantages-block__title 200 000 000
          .advantages-block__text человек — ежемесячный охват сети

        .advantages-block
          .advantages-block__icon._adv
          .advantages-block__title 50 000 000
          .advantages-block__text переходов по объявлениям ежемесячно