.contacts {
  padding: 115px 0 105px;

  background: url(%=static=%general/contacts-bg.jpg) no-repeat center;
  background-size: cover;
  @media screen and (max-width: 800px) {
    padding: 30px 0;
  }
  &__wrapper {
    @extend .wrapper;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;

    color: $white;

    font-size: rem-calc(42);
    @media screen and (max-width: 800px) {
      font-size: rem-calc(32);
    }
  }
  &__subtitle {
    margin-top: 15px;

    text-align: center;

    color: rgba($white, .5);

    font-family: "Lato-Italic";
    font-size: rem-calc(20);
    @media screen and (max-width: 800px) {
      font-size: rem-calc(17);
    }
  }
  &__list {
    display: flex;

    margin-top: 55px;

    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      display: block;
      margin-top: 20px;
    }
  }
  &__item {
    padding: 8px 0 8px 30px;

    color: $white;
    border-left: 4px solid $light-green;

    font-size: rem-calc(16);
    @media screen and (max-width: 800px) {
      padding-left: 0;

      border-bottom: 4px solid $light-green;
      border-left: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    span {
      display: block;

      font-family: "Lato-Bold";
      font-size: rem-calc(30);
    }
  }
}
