mixin contacts(data)
  .contacts#contacts
    .contacts__wrapper
      .contacts__title наши Контакты
      .contacts__subtitle С удовольствием ответим на все ваши вопросы:

      .contacts__list
        .contacts__item Позвоните:
          span +371 24 24 5555
        .contacts__item Напишите:
          span info@one-click.lv
        .contacts__item Приходите:
          span Riga, Antonias 9, LV1010
      