mixin graphics(data)
  .graphics
    .graphics__wrapper
      .graphics__left
        img(src="%=static=%images/general/interest.png" alt="")
      .graphics__right
        .graphics__title Аудитория

        .graphics-image
          .graphics-image__top
            img(src="%=static=%images/general/audit.png" alt="")
          .graphics-image__list
            .graphics-image-columns._left
              .graphics-image-columns__top 40 <sup>%</sup>

              .graphics-image-columns-row
                .graphics-image-columns-row__title <18 лет
                .graphics-image-columns-row__line(style="width: 10%")
                .graphics-image-columns-row__percentage 10%

              .graphics-image-columns-row
                .graphics-image-columns-row__title 18-24
                .graphics-image-columns-row__line(style="width: 23%")
                .graphics-image-columns-row__percentage 23%

              .graphics-image-columns-row
                .graphics-image-columns-row__title 24-35
                .graphics-image-columns-row__line(style="width: 27%")
                .graphics-image-columns-row__percentage 27%

              .graphics-image-columns-row
                .graphics-image-columns-row__title 35-44
                .graphics-image-columns-row__line(style="width: 19%")
                .graphics-image-columns-row__percentage 19%

              .graphics-image-columns-row
                .graphics-image-columns-row__title > 44 года
                .graphics-image-columns-row__line(style="width: 18%")
                .graphics-image-columns-row__percentage 18%

            .graphics-image-columns._right
              .graphics-image-columns__top 60 <sup>%</sup>

              .graphics-image-columns-row
                .graphics-image-columns-row__title <18 лет
                .graphics-image-columns-row__line(style="width: 20%")
                .graphics-image-columns-row__percentage 20%

              .graphics-image-columns-row
                .graphics-image-columns-row__title 18-24
                .graphics-image-columns-row__line(style="width: 23%")
                .graphics-image-columns-row__percentage 23%

              .graphics-image-columns-row
                .graphics-image-columns-row__title 24-35
                .graphics-image-columns-row__line(style="width: 50%")
                .graphics-image-columns-row__percentage 50%

              .graphics-image-columns-row
                .graphics-image-columns-row__title 35-44
                .graphics-image-columns-row__line(style="width: 19%")
                .graphics-image-columns-row__percentage 19%

              .graphics-image-columns-row
                .graphics-image-columns-row__title > 44 года
                .graphics-image-columns-row__line(style="width: 15%")
                .graphics-image-columns-row__percentage 15%