mixin adv-platforms(data)
  .adv-platforms#platforms
    .adv-platforms__title наши площадки
    
    .adv-platforms__wrapper
      .adv-platforms-block
        .adv-platforms-block__image
          img(src="%=static=%images/general/sovets.jpg" alt="")
        a(href="#" title="").adv-platforms-block__link._dark www.sovets.net
        .adv-platforms-block-meta
          .adv-platforms-block-meta__item посещений
            span 450 000
          .adv-platforms-block-meta__item профит
            span 9 999
          .adv-platforms-block-meta__item аудитория
            span 20 - 25 лет
          .adv-platforms-block-meta__item
            img(src="%=static=%images/general/woman.png" alt="")
            img(src="%=static=%images/general/man.png" alt="")
            
        .adv-platforms-block__text Здесь каждая женщина найдет нужную информацию на темы, связанные с модой и красотой, здоровьем, кулинарией и т.д. Хотите создать уют в доме и стать хорошей хозяйкой? Прислушивайтесь к нашим рекомендациям и следуйте им!

      .adv-platforms-block
        .adv-platforms-block__image
          img(src="%=static=%images/general/sovets.jpg" alt="")
        a(href="#" title="").adv-platforms-block__link._light www.svadbavo.ru
        .adv-platforms-block-meta
          .adv-platforms-block-meta__item посещений
            span 450 000
          .adv-platforms-block-meta__item профит
            span 9 999
          .adv-platforms-block-meta__item аудитория
            span 20 - 25 лет
          .adv-platforms-block-meta__item
            img(src="%=static=%images/general/woman.png" alt="")
            img(src="%=static=%images/general/man.png" alt="")
            
        .adv-platforms-block__text Здесь каждая женщина найдет нужную информацию на темы, связанные с модой и красотой, здоровьем, кулинарией и т.д. Хотите создать уют в доме и стать хорошей хозяйкой? Прислушивайтесь к нашим рекомендациям и следуйте им!

      .adv-platforms-block
        .adv-platforms-block__image
          img(src="%=static=%images/general/sovets.jpg" alt="")
        a(href="#" title="").adv-platforms-block__link._light www.vrachmedik.ru
        .adv-platforms-block-meta
          .adv-platforms-block-meta__item посещений
            span 450 000
          .adv-platforms-block-meta__item профит
            span 9 999
          .adv-platforms-block-meta__item аудитория
            span 20 - 25 лет
          .adv-platforms-block-meta__item
            img(src="%=static=%images/general/woman.png" alt="")
            img(src="%=static=%images/general/man.png" alt="")
            
        .adv-platforms-block__text Здесь каждая женщина найдет нужную информацию на темы, связанные с модой и красотой, здоровьем, кулинарией и т.д. Хотите создать уют в доме и стать хорошей хозяйкой? Прислушивайтесь к нашим рекомендациям и следуйте им!

      .adv-platforms-block
        .adv-platforms-block__image
          img(src="%=static=%images/general/sovets.jpg" alt="")
        a(href="#" title="").adv-platforms-block__link._dark www.allslim.ru
        .adv-platforms-block-meta
          .adv-platforms-block-meta__item посещений
            span 450 000
          .adv-platforms-block-meta__item профит
            span 9 999
          .adv-platforms-block-meta__item аудитория
            span 20 - 25 лет
          .adv-platforms-block-meta__item
            img(src="%=static=%images/general/woman.png" alt="")
            img(src="%=static=%images/general/man.png" alt="")
            
        .adv-platforms-block__text Здесь каждая женщина найдет нужную информацию на темы, связанные с модой и красотой, здоровьем, кулинарией и т.д. Хотите создать уют в доме и стать хорошей хозяйкой? Прислушивайтесь к нашим рекомендациям и следуйте им!