mixin top-baner(data)
  .top-baner
    .top-baner__wrapper
      .top-baner-text
        .top-baner-text__row эффективая
        .top-baner-text__row реклама
        .top-baner-text__row на наших интернет проектах